.list {
    margin-bottom: 376px;
}

.categories-list {
    margin: 45px 200px 120px;
}

.news-list {
    margin: 0 200px;
}

.news-list button {
    background: #FFFFFF;
    border: 1px solid #29291E;
    padding: 11px 44px 13px 17px;
    font-family: 'Calistoga';
    font-size: 52px;
    line-height: 68px;
    box-shadow: 12px 12px;
}

.news-list .headline {
    margin: 62px 0;
}