.big-title button {
    background: #FFFFFF;
    border: 1px solid #29291E;
    padding: 11px 44px 13px 17px;
    font-family: 'Calistoga';
    font-size: 52px;
    line-height: 68px;
    box-shadow: 12px 12px;
}